#root {
  text-align: center;
}

.full-width {
  width: 100%;
}

.main-container {
  margin-top: 1%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #0909b8;
  color: white;
  margin: 5px 10px;
  transition: transform 0.5s ease-in-out;
}

.button:hover {
  transform: scale(1.1);
}

.header {
  color: #0909b8;
  text-shadow: 10px 3px 7px #9b9a9a;
  width: 100%;
  font-weight: bold;
  transition: all 1s ease-in-out;
}

.header.center {
  font-size: 3.5rem;
  padding: 20% 0px 1%;
}

.header.center:hover {
  transform: scale(1.1);
  text-shadow: 10px 3px 7px #9b9a9a;
}

.header.top {
  font-size: 2.5rem;
  padding: 1%;
  box-shadow: 10px 5px 10px #ccc;
}

.menu-option {
  cursor: pointer;
  width: 35px;
  height: 35px;
  margin: 0px 1%;
}

.menu-cntr {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}


.face-off {
  right: 4%;
}

.transparent-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  inset: 0px;
  flex-direction: column;
  background-color: #242424aa
}

.portal-overlay {
  width: 45%;
  height: 50%;
  text-align: center;
  color: black;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 2px 1px 10px #ffffff9e;
  background-color: white;
  overflow: auto;
}

.portal-overlay button {
  color: white;
  cursor: pointer;
  background-color: black;
  padding: 1% 3%;
  border-radius: 5px;
}

.portal-header {
  display: flex;
  justify-content: space-between;
}

.portal-header>span {
  cursor: pointer;
}

.image-selection {
  display: flex;
  justify-content: center;
  margin: 5px 0px;
}

.image-selection>img {
  height: 150px;
  width: 175px;
  object-fit: contain;
  margin: 10px 25px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px #ccc;
}

.image-selection>img:hover {
  transform: scale(1.05);
  border: 1px solid;
  border-radius: 50%;
}

.selection-div-cntr {
  display: inline-flex;
  width: 22.5%;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 0px 2%;
  padding: 0.5%;
  border-radius: 10px;
}

#user-input-select,
#comp-input-select {
  max-height: 150px;
  margin-top: 25px;
}

.face-off-result-img {
  height: 200px;
}

.crown-cntr {
  position: relative;
}

.crown-img {
  height: 100px;
  position: absolute;
  top: -20%;
  right: 18%;
  opacity: 1;
}

.match-info {
  flex: 1;
  margin: 5px;
}

.tournament-result-cntr>h3 {
  margin: 5px;
}

.match-lost {
  opacity: 0.3;
}

.game-rule-font {
  font-family: "Courier New", monospace;
}

.game-rules>li>img {
  height: 22px;
  display: inline-block;
}

@media (max-width: 900px) {
  .selection-div-cntr {
    width: 49%;
  }

  .match-info {
    margin: 2%;
  }

  #user-input-select,
  #comp-input-select {
    margin-top: 14%;
  }

  .portal-overlay {
    width: 80%;
    height: 80%;
  }
}